# API Configuration
NEXT_PUBLIC_BASE_API=https://uapi.rg.in.th/uapi/rantcar/
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database Configuration (if needed)
# DATABASE_URL=your_database_url_here

# Stripe Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key_here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here 